/*--------------------------------------------------------------------------------------------------
BACKGROUNDCOLOR*/

.bg1 { background-color: #404040; }
.bg2 { background-color: #727272; }
.bg3 { background-color: #ffffff; }
.bg4 { background-color: #F1F1F1; }
.bg4 { background-color: #0B9CB3; }
.bg5 { background-color: #80C262; }
