/*--------------------------------------------------------------------------------------------------
FONTCOLOR*/

.fblack {
  color: $color-black;
}

.fgrey {
  color: $color-grey;
}

.fblue {
  color: $color-blue;
}

.fgreen {
  color: $color-green;
}

.fwhite {
  color: $color-white;
}

.flightwhite {
  color: $color-light;
}

/*--------------------------------------------------------------------------------------------------
FONTSETTINGS*/

body {
  font-family: 'Cabin', sans-serif;
}

h1 {
  font-size: 75px;
  text-transform: uppercase;
  text-align: center;
  color: $color-blue;

}

h2 {
  font-size: 75px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: $color-black;
}

h3 {
  font-size: 25px;
  color: $color-black;

}

h4 {
  font-size: 25px;
  color: $color-black;

}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 23px;
  color: $color-black;

}

a {

  color: $color-white;
  font-size: 18px;
  text-decoration: none;

  &:hover {
  color: $color-white;
  }

}
