/*--------------------------------------------------------------------------------------------------
FONTCOLOR*/

.fblack {
  color: #404040;
}

.fgrey {
  color: #727272;
}

.fblue {
  color: #0B9CB3;
}

.fgreen {
  color: #80C262;
}

.fwhite {
  color: #ffffff;
}

.flightwhite {
  color: #F1F1F1;
}

/*--------------------------------------------------------------------------------------------------
FONTSETTINGS*/

body {
  font-family: 'Cabin', sans-serif;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 75px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 25px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 23px;
}

a {

  color: #fff;
  font-size: 18px;
  text-decoration: none;

  &:hover {
  color:#fff;
  }

}
