/*--------------------------------------------------------------------------------------------------
FONTCOLOR*/

.fblack { color: #404040; }
.fgrey { color: #727272; }
.fblue { color: #0B9CB3; }
.fgreen { color: #80C262; }
.fwhite { color: #ffffff; }
.flightwhite { color: #F1F1F1; }

/*--------------------------------------------------------------------------------------------------
FONTSETTINGS*/

body {
  font-family: 'Cabin', sans-serif;
}

h1{

}

h2{

}

h3{

}

h4{

}

p{

}